@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-mail has been confirmed</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/message_styles.css">
</head>
<body>
    <main>
        <header>
            <img class="logo" src="/img/logo-back-2.png" alt="eUniversity">
            <h1>eUniversity</h1>
        </header>
        <section class="message">
            <img class="message-img" src="/img/undraw_Mail_sent_qwwx.png" alt="Message image">
            <span class="message-text">Your email has been confirmed!</span>
        </section>
    </main>
</body>
</html>