@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset your password</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/form_styles.css">
</head>
<body>
    <main>
        <header>
            <img class="logo" src="/img/logo-back-2.png" alt="eUniversity">
            <h1>eUniversity</h1>
        </header>
        <section class="form-section">
            <h2>Reset your password</h2>
            <form>
                <input type="hidden" value="@ViewBag.Token">
                <label for="new-password">New password</label>
                <input type="password" id="new-password" class="password-input">

                <label for="reenter-password">Reenter password</label>
                <input type="password" id="reenter-password" class="password-input">

                <div class="checkbox-container">
                    <input type="checkbox" id="show-passwd-checkbox">
                    <span class="label">&nbsp;Show password</span>
                </div>

                <div id="submit-btn" class="submit-btn">Reset</div>
            </form>
        </section>
    </main>

    <script>
        var newPassword          = document.getElementById('new-password');
        var reenterPassword      = document.getElementById('reenter-password');
        var showPasswordCheckbox = document.getElementById('show-passwd-checkbox');
        var submitBtn            = document.getElementById('submit-btn');

        showPasswordCheckbox.onclick = function (){
            if (showPasswordCheckbox.checked){
                newPassword.type = reenterPassword.type = "text";
            } else {
                newPassword.type = reenterPassword.type = "password";
            }
        }

        submitBtn.onclick = function(){

        }

    </script>
</body>
</html>